/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    //
    // Aberrant expression
    //

    withName: 'DROP.*COUNTREADS' {
        tag = { "${meta.id}.${meta.gene_annotation}" }
        ext.prefix = { "${meta.id}.counts" }
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_expression/${meta.gene_annotation}/counts/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*MERGECOUNTS' {
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "total_counts"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*FILTERCOUNTS' {
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "ods_unfitted"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*OUTRIDER_RUN' {
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "ods_fitted"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*OUTRIDER_PVALS' {
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "ods"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*OUTRIDER_RESULTS' {
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "OUTRIDER_results"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    //
    // Aberrant splicing
    //

    withName: 'DROP.*COUNTRNA_INIT' {
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*COUNTRNA_SPLITREADSSAMPLEWISE' {
        tag = { "${meta.drop_group}.${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*COUNTRNA_SPLITREADSMERGE' {
        tag = { "${meta.drop_group}.${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*COUNTRNA_NONSPLITREADSSAMPLEWISE' {
        tag = { "${meta.drop_group}.${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*COUNTRNA_NONSPLITREADSMERGE' {
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*COUNTRNA_COLLECT' {
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_FILTEREXPRESSION' {
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_PSIVALUECALCULATION' {
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_FITHYPERPARAMETERS' {
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_FITAUTOENCODER' {
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_ANNOTATEGENES' {
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_CALCULATIONSTATS' {
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_EXTRACTRESULTS' {
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_splicing/results/${annotation_id}/fraser/${drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    //
    // Other processes
    //
    withName: 'DROP.*MULTIQC_COUNTEXPRESSION' {
        publishDir = [
            path: { "${params.outdir}/multiqc/countexpression/${meta.id}/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*MULTIQC_OUTRIDER' {
        publishDir = [
            path: { "${params.outdir}/multiqc/outrider/${meta.id}/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


}
