/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    //
    // Aberrant expression
    //

    withName: 'DROP.*COUNTREADS' {
        ext.prefix = { "${meta.id}.counts" }
        publishDir = [
            path: { "${params.outdir}/aberrant_expression/${meta.gene_annotation}/counts/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*MERGECOUNTS' {
        ext.prefix = "total_counts"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*FILTERCOUNTS' {
        ext.prefix = "ods_unfitted"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*OUTRIDER_RUN' {
        ext.prefix = "ods_fitted"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*OUTRIDER_PVALS' {
        ext.prefix = "ods"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*OUTRIDER_RESULTS' {
        ext.prefix = "OUTRIDER_results"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
