/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    //
    // General processes
    //

    withName: 'DROP.*PREPROCESSGENEANNOTATION' {
        cpus = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
    }

    //
    // Aberrant expression
    //

    withName: 'DROP.*GENECOUNTS_COUNTREADS' {
        cpus = { 1 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
        tag = { "${meta.id}.${meta.gene_annotation}" }
        ext.prefix = { "${meta.id}.counts" }
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_expression/${meta.gene_annotation}/counts/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*GENECOUNTS_MERGECOUNTS' {
        cpus = { 6 * task.attempt }
        memory = { 300.MB * (counts instanceof List ? counts.size() : 1) * task.attempt }
        time = { 1.h * task.attempt }
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "total_counts"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*GENECOUNTS_FILTERCOUNTS' {
        cpus = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "ods_unfitted"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: 'DROP.*GENECOUNTS_SUMMARY' {
        cpus = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: 'DROP.*OUTRIDER_FIT' {
        cpus = { 50 * task.attempt }
        memory = { 60.GB * task.attempt }
        time = { 15.h * task.attempt }
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "ods_fitted"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*OUTRIDER_PVALS' {
        cpus = { 10 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "ods"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*OUTRIDER_RESULTS' {
        cpus = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
        tag = { "${meta.drop_group}.${meta.id}" }
        ext.prefix = "OUTRIDER_results"
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_expression/${meta.id}/outrider/${meta.drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DROP.*OUTRIDER_SUMMARY' {
        cpus = { 3 * task.attempt }
        memory = { 30.GB * task.attempt }
        time = { 1.h * task.attempt }
    }

    //
    // Aberrant splicing
    //

    withName: 'DROP.*SPLICECOUNTS_INIT' {
        cpus = { 2 * task.attempt }
        memory = { 5.GB * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: 'DROP.*SPLICECOUNTS_COUNTSPLITREADS' {
        cpus = { 3 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: 'DROP.*SPLICECOUNTS_MERGESPLITREADS' {
        cpus = { 6 * task.attempt }
        memory = { 70.GB * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: 'DROP.*SPLICECOUNTS_COUNTNONSPLITREADS' {
        cpus = { 3 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: 'DROP.*SPLICECOUNTS_MERGENONSPLITREADS' {
        cpus = { 6 * task.attempt }
        memory = { 30.GB * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: 'DROP.*SPLICECOUNTS_COLLECTCOUNTS' {
        cpus = { 2 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
    }

    withName: 'DROP.*FRASER_FILTEREXPRESSION' {
        cpus = { 3 * task.attempt }
        memory = { 40.GB * task.attempt }
        time = { 3.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_FITHYPERPARAMS' {
        cpus = { 30 * task.attempt }
        memory = { 70.GB * task.attempt }
        time = { 6.h * task.attempt }
    }

    withName: 'DROP.*FRASER_PSIVALUECALCULATION' {
        cpus = { 4 * task.attempt }
        memory = { 85.GB * task.attempt }
        time = { 3.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') || !filename.startsWith("savedObjects/") ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_FITAUTOENCODER' {
        cpus = { 10 * task.attempt }
        memory = { 70.GB * task.attempt }
        time = { 1.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_ANNOTATEGENES' {
        cpus = { 10 * task.attempt }
        memory = { 40.GB * task.attempt }
        time = { 1.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/processed_data/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_CALCULATESTATS' {
        cpus = { 10 * task.attempt }
        memory = { 60.GB * task.attempt }
        time = { 1.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_splicing/datasets/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*FRASER_EXTRACTRESULTS' {
        cpus = { 10 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/processed_results/aberrant_splicing/results/${annotation_id}/fraser/${drop_group}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    //
    // Mono allelic expression
    //

    withName: 'DROP.*MAE_CREATESNVS' {
        cpus = { 3 * task.attempt }
        memory = { 5.GB * task.attempt }
        time = { 1.h * task.attempt }
        ext.prefix = { "${meta.dna_id}--${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/processed_data/mae/snvs/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*MAE_ALLELICCOUNTS' {
        cpus = { 1 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 2.h * task.attempt }
        ext.prefix = { "${meta.dna_id}--${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/processed_data/mae/allelic_counts/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*MAE_DESEQ' {
        cpus = { 1 * task.attempt }
        memory = { 20.GB * task.attempt }
        time = { 1.h * task.attempt }
        ext.prefix = { "${meta.dna_id}--${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/processed_results/mae/samples/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*MAE_GENENAMEMAPPING' {
        cpus = { 1 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
        ext.prefix = { "gene_name_mapping_${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/processed_results/mae/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*MAE_RESULTS' {
        cpus = { 3 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
        tag = { "${meta.drop_group}.${meta.annotation}" }
        ext.prefix = { meta.annotation }
        publishDir = [
            path: { "${params.outdir}/processed_results/mae/${meta.drop_group}" },
            pattern: "MAE_results_*",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*MAEQC_DNARNADESEQ' {
        cpus = { 3 * task.attempt }
        memory = { 10.GB * task.attempt }
        time = { 1.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/processed_data/mae/RNA_GT" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    withName: 'DROP.*MAEQC_DNARNAMATRIX' {
        cpus = { 10 * task.attempt }
        memory = { 40.GB * task.attempt }
        time = { 1.h * task.attempt }
        publishDir = [
            path: { "${params.outdir}/processed_results/mae/${drop_group}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            overwrite: true
        ]
    }

    //
    // Other processes
    //
    withName: 'DROP.*MULTIQC_GENECOUNTS' {
        publishDir = [
            path: { "${params.outdir}/reports/aberrant_expression/genecounts" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') {
                    return null
                }
                else if (filename ==~ /\[TAG:genecounts_.+\]_multiqc_(report_mqc\.html|plots|data)/) {
                    def tag = (filename =~ /\[TAG:genecounts_(.+)\]_multiqc_(report_mqc\.html|plots|data)/)[0][1]
                    def new_filename = filename.replaceFirst(
                        "(?<prefix>.*)\\[TAG:genecounts_${tag}\\]_(?<suffix>multiqc_(report_mqc\\.html|plots|data).*)",
                        '${prefix}${suffix}'
                    )
                    return "${tag}/${new_filename}"
                }
                else {
                    return filename
                }
            }
        ]
    }

    withName: 'DROP.*MULTIQC_OUTRIDER' {
        publishDir = [
            path: { "${params.outdir}/reports/aberrant_expression/outrider" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') {
                    return null
                }
                else if (filename ==~ /\[TAG:outrider_.+\]_multiqc_(report_mqc\.html|plots|data)/) {
                    def tag = (filename =~ /\[TAG:outrider_(.+)\]_multiqc_(report_mqc\.html|plots|data)/)[0][1]
                    def new_filename = filename.replaceFirst(
                        "(?<prefix>.*)\\[TAG:outrider_${tag}\\]_(?<suffix>multiqc_(report_mqc\\.html|plots|data).*)",
                        '${prefix}${suffix}'
                    )
                    return "${tag}/${new_filename}"
                }
                else {
                    return filename
                }
            }
        ]
    }

    withName: 'DROP.*MULTIQC_SPLICECOUNTS' {
        publishDir = [
            path: { "${params.outdir}/reports/aberrant_splicing/splicecounts" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') {
                    return null
                }
                else if (filename ==~ /\[TAG:splicecounts_.+\]_multiqc_(report_mqc\.html|plots|data)/) {
                    def tag = (filename =~ /\[TAG:splicecounts_(.+)\]_multiqc_(report_mqc\.html|plots|data)/)[0][1]
                    def new_filename = filename.replaceFirst(
                        "(?<prefix>.*)\\[TAG:splicecounts_${tag}\\]_(?<suffix>multiqc_(report_mqc\\.html|plots|data).*)",
                        '${prefix}${suffix}'
                    )
                    return "${tag}/${new_filename}"
                }
                else {
                    return filename
                }
            }
        ]
    }

    withName: 'DROP.*MULTIQC_FRASER' {
        publishDir = [
            path: { "${params.outdir}/reports/aberrant_splicing/fraser" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') {
                    return null
                }
                else if (filename ==~ /\[TAG:fraser_.+\]_multiqc_(report_mqc\.html|plots|data)/) {
                    def tag = (filename =~ /\[TAG:fraser_(.+)\]_multiqc_(report_mqc\.html|plots|data)/)[0][1]
                    def new_filename = filename.replaceFirst(
                        "(?<prefix>.*)\\[TAG:fraser_${tag}\\]_(?<suffix>multiqc_(report_mqc\\.html|plots|data).*)",
                        '${prefix}${suffix}'
                    )
                    return "${tag}/${new_filename}"
                }
                else {
                    return filename
                }
            }
        ]
    }

    withName: 'DROP.*MULTIQC_MAE' {
        publishDir = [
            path: { "${params.outdir}/reports/mae/mae" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') {
                    return null
                }
                else if (filename ==~ /\[TAG:mae_.+\]_multiqc_(report_mqc\.html|plots|data)/) {
                    def tag = (filename =~ /\[TAG:mae_(.+)\]_multiqc_(report_mqc\.html|plots|data)/)[0][1]
                    def new_filename = filename.replaceFirst(
                        "(?<prefix>.*)\\[TAG:mae_${tag}\\]_(?<suffix>multiqc_(report_mqc\\.html|plots|data).*)",
                        '${prefix}${suffix}'
                    )
                    return "${tag}/${new_filename}"
                }
                else {
                    return filename
                }
            }
        ]
    }

    withName: 'DROP.*MULTIQC_MAEQC' {
        publishDir = [
            path: { "${params.outdir}/reports/mae/maeqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename == 'versions.yml') {
                    return null
                }
                else if (filename ==~ /\[TAG:maeqc_.+\]_multiqc_(report_mqc\.html|plots|data)/) {
                    def tag = (filename =~ /\[TAG:maeqc_(.+)\]_multiqc_(report_mqc\.html|plots|data)/)[0][1]
                    def new_filename = filename.replaceFirst(
                        "(?<prefix>.*)\\[TAG:maeqc_${tag}\\]_(?<suffix>multiqc_(report_mqc\\.html|plots|data).*)",
                        '${prefix}${suffix}'
                    )
                    return "${tag}/${new_filename}"
                }
                else {
                    return filename
                }
            }
        ]
    }

    withName: 'DROP.*MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

}
