/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/drop -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = "${projectDir}/assets/samplesheet.tsv"
    gene_annotation = "${projectDir}/assets/gene_annotation.yaml"
    hpo_file = "https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/hpo_genes.tsv.gz"

    genome = "hg19"
    random_seed = true

    ucsc_fasta = "https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/chr21.fa"
    ucsc_fai = "https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/chr21.fa.fai"
    ncbi_fasta = "https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/chr21_ncbi.fa"
    ncbi_fai = "https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/chr21_ncbi.fa.fai"

    // Aberrant expression
    ae_groups = 'outrider,outrider_external'
    ae_genes_to_test = 'https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/genes_to_test.yaml'
    ae_fpkm_cutoff = 1
    ae_implementation = 'autoencoder'
    ae_padj_cutoff = 1
    ae_z_score_cutoff = 0
    ae_max_tested_dimension_proportion = 3
    ae_yield_size = 2000000

    // Aberrant splicing
    as_groups = 'fraser,fraser_external'
    as_recount = true
    as_long_read = false
    as_keep_non_standard_chrs = false
    as_skip_filter = true
    as_min_expression_in_one_sample = 20
    as_quantile_min_expression = 10
    as_quantile_for_filtering = 0.95
    as_min_delta_psi = 0.05
    as_implementation = "PCA"
    as_padj_cutoff = 1
    as_max_tested_dimension_proportion = 6
    as_genes_to_test = 'https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/genes_to_test.yaml'
    as_fraser_version = "FRASER"
    as_delta_psi_cutoff = 0.05

    // MAE
    mae_groups = 'mae'
    mae_gatk_header_check = false
    mae_padj_cutoff = 0.5
    mae_allelic_ratio_cutoff = 0.7
    mae_add_af = false
    mae_max_af = 0.001
    mae_max_var_freq_cohort = 1
    mae_qc_vcf = "https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/qc_vcf_1000G.vcf.gz"
    mae_qc_vcf_tbi = "https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/qc_vcf_1000G.vcf.gz.tbi"
    mae_qc_groups = 'mae'
    mae_dna_rna_match_cutoff = 0.85
}
