/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/drop -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // TODO nf-core: Specify the paths to your test data on nf-core/test-datasets
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    input = "${projectDir}/assets/samplesheet.tsv"
    gene_annotation = "${projectDir}/assets/gene_annotation.yaml"
    hpo_file = "https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/hpo_genes.tsv.gz"

    // Aberrant expression
    ae_run = true
    ae_groups = 'outrider,outrider_external'
    ae_genes_to_test = 'https://github.com/gagneurlab/drop_demo_data/raw/refs/heads/main/Data/genes_to_test.yaml'
    ae_fpkm_cutoff = 1
    ae_implementation = 'autoencoder'
    ae_padj_cutoff = 1
    ae_z_score_cutoff = 0
    ae_max_tested_dimension_proportion = 3
    ae_yield_size = 2000000

    // Aberrant splicing
    as_run = true
    as_groups = 'fraser,fraser_external'
}
